@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body{
  background-color: #28282B
}

.blue{
  color: 	#6082B6;
}

/* NAVIGATION BAR */
.nav-bar{
  background-color: #28282B;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav-link-list{
  position: absolute;
  margin-left: 350px;
}
.logo-bubble{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#B6D0E2;
  margin-right: 8px;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo h2{
  color: white;
}
.logo h2 a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.nav-link{
  text-decoration: none;
  color: white;
  margin-right: 24px;
  background-image: linear-gradient(
    to right,
    #B6D0E2,
    #B6D0E2 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover{
  background-position: 0;
}
.nav-link:before{
  content: '';
  background: 	#B6D0E2;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::before{
  width: 100%;
}
.burger-menu{
  background-color: #28282B;
}
.links-burger{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 350px;
  width: 500px;
  background-color: black;
  z-index: 100;
  display: none;
  transition: 300ms ease all;
}
.links-burger a{
  font-size: 36px;
}
.fa-bars{
  width: 50px;
  height: 50px;
  font-size: 48px;
  color: white;
}
.fa-x{
  width: 50px;
  height: 50px;
  font-size: 48px;
  color: white;
  z-index: 110;
  position: relative;
}
.icon-x{
  font-size: 0;
  width: 100%;
}
.icon{
  font-size: 0px;
  margin-left: 48px;
}
/* HOME */
.home-container{
  min-height: 90vh;
  width: 100%;
  background-color: #28282B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.blue-coin{
  width: 500px;
  margin-top: 48px;
}
.home-heading{
  max-width: 1200px;
  margin-left: -500px;
  color: white;
  text-align: center;
}
.home-heading h4{
  font-size: 64px;
}
.home-heading h5{
  font-size: 48px;
}
.explore-btn{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-top: 24px;
  margin-left: 12px;
  transition: 300ms ease all;
}
.explore-btn:hover{
  transform: scale(1.2);
  color: #6082B6;
  border-color: #6082B6;
}

/* SEARCH */

.search-heading{
  text-align: center;
  color: white;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 300;
}
.search{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-input{
  width: 500px;
  height: 50px;
  font-size: 48px;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #6082B6;
  outline: none;
  text-align: center;
  color: white;
}

/* Coin Card */

.coin-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100%/4);
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}
.coin-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-img{
  width: 50px;
  margin-top: 24px;
}
.coin-card-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 25px;
  padding: 48px;
  color: white;
  position: relative;
  transition: 300ms ease all;
}
.coin-card-info:hover{
  transform: scale(1.2);
}
.coin-card-info h1{
  position: absolute;
  font-weight: 500;
  top: 0;
}
.coin-card-info h3{
  font-weight: 200;
  position: absolute;
  top: 24px;
  font-size: 16px;
}
.coin-price{
  font-weight: 200; 
  margin-top: 24px;
}
.coin-rank{
  position: absolute;
  bottom: 10px;
  font-weight: 200;
}

.coin-list{
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;

}
nav {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #eee;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding-top: 24px;
}

.footer-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}


@media(max-width:1460px){
  .home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-heading{
    text-align: center;
    margin: 0;
    margin-bottom: 24px;
  }
}

@media(max-width:800px){
  .home-heading{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-heading h4{
    font-size: 48px;
  }
  .home-heading h5{
    font-size: 42px;
  }
  .search-input{
    width: 200px;
  }
  .search-btn{
    width: 60px;
    font-size: 18px;
  }
  .coin-card{
    width: 50%;
  }
}
@media(max-width:600px){
  .home-coin{
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .nav-link-list{
    display: none;
  }
  .icon{
    font-size: 48px;
    margin-left: 80px;
  }
  .links-burger{
    width: 100%;

    left: 0;
  }
  .footer-icon {
    margin-bottom: 0.5rem;
  }

  nav a {
    flex: 1;
    margin-bottom: 0.5rem;
  }
}
@media(max-width:415px){
  .icon{
    font-size: 48px;
  }
  .nav-link-list{
    display: none;
  }
  .coin-card{
    width: 500px;
  }
  .icon-x{
    font-size: 0px;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
  }
  .footer-container nav{
    font-size: 12px;
    flex-direction: column;
    align-items: center;
  }
  .footer-container a{
    margin-bottom: 24px;
  }
}

