@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/* NAVIGATION BAR */
.nav-bar{
  background-color: #28282B;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.logo-bubble{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gold;
  margin-right: 8px;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo h2{
  color: white;
}
.logo h2 a{
  text-decoration: none;
  color: white;
}
.nav-link{
  text-decoration: none;
  color: white;
  margin-right: 24px;
  background-image: linear-gradient(
    to right,
    #FFD700,
    #FFD700 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover{
  background-position: 0;
}
.nav-link:before{
  content: '';
  background: #FFD700;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::before{
  width: 100%;
}