@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body{
  background-color: #28282B
}

.blue{
  color: 	#6082B6;
}

/* NAVIGATION BAR */
.nav-bar{
  background-color: #28282B;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.logo-bubble{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#B6D0E2;
  margin-right: 8px;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo h2{
  color: white;
}
.logo h2 a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.nav-link{
  text-decoration: none;
  color: white;
  margin-right: 24px;
  background-image: linear-gradient(
    to right,
    #B6D0E2,
    #B6D0E2 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover{
  background-position: 0;
}
.nav-link:before{
  content: '';
  background: 	#B6D0E2;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::before{
  width: 100%;
}

/* HOME */
.home-container{
  min-height: 90vh;
  background-color: #28282B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.blue-coin{
  width: 500px;
  margin-top: 48px;
}
.home-heading{
  max-width: 1200px;
  margin-left: -500px;
  color: white;
}
.home-heading h4{
  font-size: 64px;
}
.home-heading h5{
  font-size: 48px;
}
.explore-btn{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-top: 24px;
  margin-left: 12px;
  transition: 300ms ease all;
}
.explore-btn:hover{
  transform: scale(1.2);
  color: #6082B6;
  border-color: #6082B6;
}

/* SEARCH */

.search-heading{
  text-align: center;
  color: white;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 300;
}
.search{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-input{
  width: 500px;
  height: 50px;
  font-size: 48px;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #6082B6;
  outline: none;
  text-align: center;
  color: white;
}

/* Coin Card */

.coin-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100%/3);
  padding-top: 48px;
  padding-bottom: 48px;
}
.coin-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-img{
  width: 50px;
}